@import url('https://fonts.googleapis.com/css?family=Roboto');

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: green;
    color: #333;
  }

  .alert-danger {
    background: blue;
    color: #fff;
  }